langchain-google-genai==4.2.2
langchain==1.2.10
langchain-openai==1.2.1
langgraph==1.0.9
langchain-community==0.4.1
langchain-groq==1.1.2
langchain-neo4j==0.8.0
langchain-experimental==0.4.1
python-dotenv==1.2.1
fastapi==0.129.1
uvicorn==0.41.0
neo4j==6.1.0
langchain_huggingface==1.2.0
faiss-cpu==1.13.2
pandas>=2.0.0
pytest==9.0.3
json-repair==0.44.1
sentence-transformers==5.4.1
pydantic-settings==2.14.0
cachetools==7.1.1
langchain-cohere==0.5.1
rank-bm25==0.2.2