langchain==1.2.10
langgraph==1.0.9
langchain-community==0.4.1
langchain-groq==1.1.2
langchain-neo4j==0.8.0
langchain-experimental==0.4.1
python-dotenv==1.2.1
fastapi==0.129.1
uvicorn==0.41.0
neo4j==6.1.0
pdfplumber==0.11.9
fitz==0.0.1.dev2
python-bidi==0.6.7
arabic-reshaper==3.0.0
PyPDF2==3.0.1
scikit-learn==1.8.0
sentence_transformers==5.2.3
pypdf==6.7.1
pdfminer-six==20251230
PyMuPDF==1.27.1
pikepdf==10.3.0
pymupdf==1.27.1
pytesseract==0.3.13
opencv-python==4.13.0.92
pillow==12.1.1
ocrmypdf==17.3.0
networkx==3.6.1
langchain_huggingface==1.2.0
faiss-cpu==1.13.2
pandas>=2.0.0
pytest==9.0.3
