langchain
langgraph
langchain-community
langchain-groq
langchain-neo4j
langchain-experimental
dotenv
fastapi
neo4j
pdfplumber
fitz
python-bidi
arabic_reshaper
PyPDF2
scikit-learn
sentence_transformers
pypdf
pdfminer.six
PyMuPDF
pikepdf
pymupdf
pytesseract 
opencv-python 
pillow 
ocrmypdf 
networkx
langchain_huggingface
faiss-cpu
